/* FileUploadConflict.css */

.conflict-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 12vh;
}

.conflict-header-text {
  font-weight: 900 !important;
  white-space: pre-line!important;
  font-size: 95px!important;
  color: #346F79!important;
}

.conflict-image-box {
  width: 300px;
  height: 400px;
  background-color: #F1F0EB;
  padding: 16px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.conflict-image {
  width: 100%;
  height: 110%;
  margin-bottom: 16px;
}

.conflict-image-text {
  font-weight: 800 !important;
}

.conflict-button-container {
  display: flex;
  justify-content: center;
  margin-top: 4vh;
}

.conflict-btn-upload {
  margin-right: 8px !important;
  background-color: #346F79 !important;
  color: #FFFFFF !important;
}

.conflict-btn-upload:hover {
  background-color: #295961 !important;
}

.conflict-btn-result {
  background-color: #346F79 !important;
  color: #FFFFFF !important;
}

.conflict-btn-result:hover {
  background-color: #295961 !important;
}

.conflict-btn-result:disabled {
  background-color: #B0B0B0 !important;  /* 회색 */
  color: #FFFFFF !important;
}

.conflict-btn-toggle-input {
  margin-left: 8px !important;
  background-color: #346F79 !important;
  color: #FFFFFF !important;
}

.conflict-btn-toggle-input:hover {
  background-color: #295961 !important;
}

.conflict-btn-textfield {
  margin-top: 16px !important;
  background-color: #346F79 !important;
  color: #FFFFFF !important;
}

.conflict-btn-textfield:hover {
  background-color: #295961 !important;
}

.conflict-btn-textfield:disabled {
  background-color: #B0B0B0 !important;  /* 회색 */
  color: #FFFFFF !important;
}
