.carousel-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.carousel-container {
    flex-grow: 1;
}

.prev-arrow, .next-arrow {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: gray;
    cursor: pointer;
    z-index: 2;
    position: relative;
    margin: 0 10px; 
}

.prev-arrow {
    margin-right: 30px;
}

.next-arrow {
    margin-left: 30px; 
}